<%= form_with(model: ofolder) do |form| %>
  <% if ofolder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ofolder.errors.count, "error") %> prohibited this ofolder from being saved:</h2>

      <ul>
        <% ofolder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.number_field :parent_id %>
  </div>

  <div class="field">
    <%= form.label :organisation_id %>
    <%= form.number_field :organisation_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
