<%= form_with(model: ufolder) do |form| %>
  <% if ufolder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ufolder.errors.count, "error") %> prohibited this ufolder from being saved:</h2>

      <ul>
        <% ufolder.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.number_field :parent_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
